<!doctype html>
<html>
  <head>
    <title>Kiiin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <style>
      {% include "styles/reset.css" %}
      {% include "styles/layout.css" %}
      {% include "styles/music.css" %}
      {% include "styles/weather.css" %}
    </style>
  </head>

  <body>
    {% if let Some(weather) = weather %}
    <section id="weather">{{ weather | safe }}</section>
    {% endif %}
    {% if let Some(music) = music %}
    <section id="music">{{ music | safe }}</section>
    {% endif %}
  </body>
</html>
