<div class="current">
    {% if let Some(album_art) = album_art %}
    <div class="cover">
        <img src="{{ album_art }}">
    </div>
    {% endif %}

    <div class="track">
        {% if let Some(current_song) = current_song %}
        <p class="title">{{ current_song.title }}</p>
        <p class="artist">{{ current_song.artist }}</p>
        <p class="album">{{ current_song.album }} (<span class="date">{{ current_song.date }}</span>)</p>
        {% endif %}
    </div>
</div>

<div class="next">
    {% if let Some(next_song) = next_song %}
    <svg class="arrow" width="100" height="40">
      <polyline points="0,0 80,0 100,20 80,40 0,40" />
      <text x="10"  dominant-baseline="middle" >
            <tspan y="21.5">NEXT</tspan><tspan y="20">:</tspan>
      </text>
    </svg>
    <p class="track">
        <span class="title">{{ next_song.title }}</span> by 
        <span class="artist">{{ next_song.artist }}</span> from 
        <span class="album">{{ next_song.album }} (<span class="date">{{ next_song.date }}</span>)</span>
    </p>
    {% endif %}
</div>
