<section id="weather">
  <div class="current">
    {% if let Some(icon) = icon %}
    <div class="icon">
      {% include "current_condition_icon.html" %}
      <p>{{ icon }}</p>
    </div>
    {% endif %}
    {% if let Some(condition) = condition %}
    <div class="condition">
      <p>
        {{ condition.temperature }}°C <span class="divider">/</span> {{ condition.pressure }} kPa
        {% include "pressure_tendency_icon.html" %}
      </p>
    </div>
    {% endif %}
    
    {% if let Some(today) = today %}
    <ul class="today">
      <li>
        <span class="label">AM:</span>
        <span class="value">
          {% if let Some(day) = today.0 %}
            {{ day.temperature }}°C <span class="divider">/</span> {{ day.precipitation }}%
          {% else %}
            -
          {% endif %}
        </span>
      </li>
      <li>
        <span class="label">PM:</span>
        <span class="value">
          {% if let Some(night) = today.1 %}
            {{ night.temperature }}°C <span class="divider">/</span> {{ night.precipitation }}%
          {% else %}
            -
          {% endif %}
        </span>
      </li>
    </ul>
    {% endif %}
  </div>
  {% if let Some(forecasts) = forecast %}
  <ol class="forecast">
    {% for f in forecasts %}
    <li class="hourly">
      <p class="time">{{ f.time.format("%l %p") }}</p>
      {% include "forecast_condition_icon.html" %}
      <p class="temp-lop">{{ f.temp_precip.temperature }}°C <span class="divider">/</span> {{ f.temp_precip.precipitation }}%</p>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
</section>
